#heading{
    font-size: 40px;
    font-weight: 350;
    letter-spacing: 30px;

    text-shadow: 0px 0px 7px black; 
}

#credit{
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 3px;

}

.links{
    text-decoration: none;
}

body{
    background-color: black;

    color: white;
    text-align: center;
    font-family: "Bitcount Grid Single";
}

.textBoxes{
    border-width: 1px;
    border: 0;
    background-color: #284C60;
    border-radius: 16px;
    height: 30px;
    color: white;
    text-align: center;
    font-size: large;
    font-family: "Bitcount Grid Single";
    
}

/*Persian red: #B,B4430 , raisin black: #2,31F20 */

/*old purple: 4,b2c74, old cyan: 2,94C60 */

#mainForm{
    background-image: linear-gradient(to bottom, black, #231F20);
    width: 80%;
    margin: 0 auto;

    text-align: center;

    font-size: large;
    line-height: 100px;
}

fieldset{
    border: 0;
    
}

#topDiv{
    /*background-image: linear-gradient(to top,#8b1818, #231F20);*/
    background-color: #8b1818;
    padding-top: 20px;
    padding-bottom: 15px;
}

#formDiv{
    padding-top: 50px;
}

#formTable{
    width: 100%;
}

#table1left{
    text-align: right;
}

#table1center{
    text-align: center;
}

#table1right{
    text-align: left;
}

#table1bottom{
    text-align: center;
}

#displayDiv{
    padding-top: 40px;
    width: 80%;
    height: 400px;
    margin:0 auto;
    
    background-image: linear-gradient(to top, black, #8b1818);

    text-align: center;

    font-size: large;
    line-height: 30px;
}

.results{
    color: #d1bf35;
    text-shadow: 0px 0px 30px black;
}
#calculateButton{
    background-color: #d1bf35;
    border: 0;
    width: 240px;
    height: 30px;
    border-radius: 20px;
    margin: 0 auto;

    text-align: center;
    color: #ffffff;
    font-family: "Bitcount Grid Single";
    letter-spacing: 2px;
    font-weight: 450;
    text-shadow: 0px 0px 7px black;

}

#calculateButton:hover{

    background-color: white;
    color: #8b1818;

    font-weight: 300;

}

.special{
    color: #d1bf35;

    font-weight: 400;
    text-shadow: 0px 0px 7px black;
    
}